body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;

}


header {
    background: #efefef;
    padding: 20px 0;

}

.logo {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
    margin-right: 500px;
}


form {
    margin: 50px 0;

}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 20px;

}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

fieldset {
    width: 51%
}

.enviar {
    width: 30%;
    padding: 15px 0;
    background: rgb(0, 8, 255);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    transition: 1s all;
    cursor: pointer;
}